.mini-note {
  margin: 2% 25% 2% 25%;
  padding: 0px 0px 10px 0px;
  background-color: rgb(204, 203, 205);
  color: black;
  border-radius: 18px;
  overflow: hidden;
}

.note-title {
  /* border: 1px red solid; */
  padding: 10px 0px 0px 15px;
  width: max-content;
  font-size: 25px;
}

.info-tags {
  display: flex;
  /* border: 1px red solid; */
  width: max-content;
  gap: 20px;
  padding: 0px 0px 0px 15px;
}

.content {
  padding: 0px 0px 0px 15px;
}
