@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  /* background: transparent; */
  /* optional: just make scrollbar invisible; */
}

* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0%;
  text-decoration: none;
}

body {
  background-color: #0f0e0e;
}

/* Navbar */
.navbar {
  border-radius: 16px;
  background-color: #dde0ab;
  display: flex;
  justify-content: space-around;
  margin-top: auto;
  width: calc(100% - 10%);
  margin: 1% 5% 1% 5%;
  height: 80px;
  align-items: center;
  /* border: 1px solid; */
}

.logo {
  color: black;
  font-size: 1.5rem;
}

.nav ul {
  display: flex;
  padding-left: 0px;
  justify-content: space-around;
  list-style: none;
}

.nav ul li {
  margin: 0 10px;
  font-size: 20px;
  cursor: pointer;
  padding: 6px 10px;
  border-radius: 3px;
}

.nav ul li a {
  text-decoration: none;
  color: black;
  transition: color 0.1s;
}

.nav ul li:hover {
  background-color: black;
}

.nav ul li:hover a {
  color: white;
}
.nav ul li:hover p {
  color: white;
}
/* Home */

.landpage {
  /* background-color: #000000; */
  height: 100vh;
}

.addNote-btn {
  background-color: green;
  color: white;
  border: none;
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 10px;
  border: 1px red solid;
}

.section1 {
  text-align: center;
  padding-bottom: 50px;
  /* background-color: black; */
}

.head1 {
  padding-top: 8%;
  font-size: 3.75rem;
  color: white;
  text-align: center;
}

/* Home Note Css */
.notes-container {
  width: calc(100% - 30%);
  margin: 5%;
  background-color: #232121;
  align-items: center;
  justify-content: center;
  padding: calc(100% - 90%);
  padding-top: 2%;
  padding-bottom: 2%;
  gap: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 16px;
  margin: calc(100% - 95%);
}

.note-card {
  box-shadow: 0px 0px 5px 1px rgba(93, 91, 91, 0.6);
  border-radius: 10px;
  overflow: hidden;
  width: calc(100% - 70%);
  margin-bottom: 2%;
  position: relative;
  cursor: pointer;
}

.note-card:hover {
  box-shadow: 0px 0px 5px 5px rgba(168, 167, 167, 0.6);
}

.note-card h1 {
  background-color: #f9e8c9;
  font-size: 20px;
  padding: 10px;
}

.note-card p {
  background-color: rgb(26, 25, 26);
  color: white;
  font-size: 16px;
  padding: 10px;
  height: 300px;
  overflow: hidden;
}

.note-card h4 {
  color: white;
}

.card-footer {
  /* background-color: wheat; */
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.card-footer a {
  color: white;
}

.card-footer a:hover {
  color: #cbf078;
}

.f-comp {
  color: white;
}

.f-comp:hover {
  color: black;
  cursor: pointer;
}

.card-footer-edit {
  background-color: rgba(245, 222, 179, 0.718);
  border-radius: 8px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.card-footer-edit a {
  color: white;
}

/* Login Page */
.login-page {
  /* background-color: #000000; */
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  /* background: rgba(0, 0, 0, 0.5); */
  box-sizing: border-box;
  box-shadow: 0px 0px 5px 5px rgba(93, 91, 91, 0.6);
  border-radius: 10px;
}
.login-page h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-form .user-box {
  position: relative;
}

.login-form .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.Submit {
  background-color: #f9e8c9;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  width: 100%;
}

.login-form button:hover {
  background-color: #897556;
}

.footer {
  color: rgb(129, 125, 125);
  font-size: 16px;
  margin-top: 16px;
  text-align: center;
}

.footer span {
  color: #f9e8c9;
  cursor: pointer;
}

/* Register Page */
.register-page {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  /* background: rgba(0, 0, 0, 0.5); */
  box-sizing: border-box;
  box-shadow: 0px 0px 5px 5px rgba(93, 91, 91, 0.6);
  border-radius: 10px;
}
.register-page h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.register-form .user-box {
  position: relative;
}

.register-form .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

/* overlay Card */

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(35, 34, 34);
  color: white;
  /* transition: 10s ease; */
}

.overlay-content {
  background-color: #0f0e0e;
  position: absolute;
  top: 50%;
  left: 50%;
  color: white;
  border-radius: 36px;
  overflow: hidden;
  /* padding-bottom: 3rem; */
  padding: 20px;
  margin-bottom: 20px;
  height: calc(100% - 20%);
  width: calc(100% - 40%);
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.note-header {
  border-radius: 16px;
  background-color: #f9e8c9;
  display: flex;
  flex-direction: row;
  color: black;
  justify-content: space-between;
}

.overlay-content h1 {
  font-size: 20px;
  padding: 20px;
  border-radius: 16px;
  text-align: center;
}

.close {
  padding: 2px 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
  transform: 0.3;
}

.overlay-content p {
  background-color: rgb(22, 21, 22);
  color: white;
  font-size: 16px;
  margin-top: 10px;
  padding: 10px 30px 10px 30px;
  border-radius: 16px;
  height: calc(100% - 25%);
  /* overflow-x: hidden; */
  overflow-y: auto;
  text-align: justify;
}

.overlay-content h3 {
  padding: 10px;
  color: black;
  text-align: center;
}

/* Create Note */

.input-title {
  font-size: 20px;
  padding: 20px;
  /* text-align: center; */
  border: none;
  background-color: #f9e8c9;
  width: 100%;
  border-radius: 16px;
  outline: none;
}

.input-content {
  position: static;
  background-color: rgb(22, 21, 22);
  color: white;
  font-size: 16px;
  margin-top: 10px;
  padding: 10px 30px 10px 30px;
  border-radius: 16px;
  height: calc(100% - 20%);
  /* overflow-x: hidden; */
  overflow-y: auto;
  text-align: justify;
  width: 100%;
  resize: none;
  /* padding: 0 5px; */
  box-sizing: border-box;
  outline: none;
}

.note-save {
  background-color: rgb(136, 162, 83);
  margin-top: 10px;
  font-size: 18px;
  border: none;
  border-radius: 8px;
  padding: 10px;
}

/* Edit Note */
