@import url("https://fonts.googleapis.com/css2?family=Jersey+25&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Jersey+25&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Jersey+25&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;700&display=swap");

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0;
}

* {
  margin: 0%;
  text-decoration: none;
}

body {
  background-color: #28221c;
  margin: 1% 2%;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  /* border: 1px solid red; */
  padding: 0px 7%;
}

.logo {
  color: white;
  font-size: 1.5rem;
  font-family: "Jersey 25", sans-serif;
}

.nav ul {
  display: flex;
  padding-left: 0px;
  justify-content: space-around;
  list-style: none;
}

.nav ul li {
  color: white;
  margin: 0 10px;
  font-size: 20px;
  cursor: pointer;
  padding: 6px 10px;
  border-radius: 3px;
  font-family: "jersey 25";
}

.nav ul li a {
  text-decoration: none;
  color: white;
  transition: color 0.1s;
}

.nav ul li:hover {
  background-color: black;
}

.nav ul li:hover a {
  color: white;
}
.nav ul li:hover p {
  color: white;
}
/* Home */

.landpage {
}

.section1 {
  margin-top: 1rem;
  padding: 1% 2%;
  /* border: 1px solid red; */
  text-align: center;
}

.head1 {
  font-size: 5rem;
  color: white;
  font-family: "Jersey 25", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}

.section1 h3 {
  color: #f5ddb092;
  margin-top: 20px;
  font-size: 32px;
  letter-spacing: 5px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.section1 p {
  /* margin-top: 1rem; */
  /* border: 1px solid red; */
  /* width: fit-content; */
  color: #f5ddb0ac;
  font-size: 24px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* background-color: #0f0e0e; */
  padding: 1% 10%;
  font-weight: 100;
  /* border: white 1px solid; */
  /* border-radius: 24px; */
}

.btn-create {
  border: none;
  font-size: 24px;
  padding: 5px 10px;
  background-color: #f5ddb0ac;
  color: rgb(21, 21, 21);
  font-family: "poppins";
  border-radius: 8px;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .navbar {
    /* border: 1px solid rebeccapurple; */
  }

  .logo {
    font-size: 1.1rem;
  }
  .nav ul {
    justify-content: space-between;
  }

  .nav ul li {
    padding: 0;
    font-size: 16px;
  }

  .nav li:not(:last-child) {
    margin-right: 0px;
  }

  .head1 {
    font-size: 3rem;
  }

  .section1 h3 {
    font-size: 16px;
    margin-top: 10px;
  }

  .section1 p {
    padding: 2% 2%;
    /* text-align: justify; */
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 2px;
  }

  .btn-create {
    font-size: 16px;
  }

  .note-card {
    width: 100%;
  }
}

/* Home Note Css */
.notes-container {
  margin-top: 1%;
  /* background-color: #bb8585; */
  /* align-items: center; */
  /* justify-content: center; */
  /* border: 1px solid red; */
}

/* .notes-nav {
  text-align: center;
  font-size: 2rem;
  align-items: center;
} */

.notes-nav p {
  width: fit-content;
  color: white;
  background-color: #0f0e0e;
  padding: 1%;
  border: white 1px solid;
  border-radius: 16px;
}
.notes-nav p:hover {
  color: rgb(151, 151, 150);
  cursor: pointer;
}

.notes {
  display: flex;
  gap: 20px;

  flex-wrap: wrap;
  justify-content: center;
}

.note-card {
  margin: 1%;
  box-shadow: 0px 0px 5px 1px rgba(93, 91, 91, 0.6);
  border-radius: 10px;
  overflow: hidden;
  width: calc(100% - 80%);
  height: 100%;
  position: relative;
  cursor: pointer;
  transition: 0.3s;
}

.note-card:hover {
  box-shadow: 0px 0px 5px 5px #dedcac62;
}

.note-card h1 {
  background-color: #f5ddb0ac;
  font-size: 20px;
  padding: 10px;
  font-family: "Lora", serif;
}

.note-card p {
  background-color: rgb(26, 25, 26);
  color: rgb(212, 203, 203);
  font-size: 16px;
  padding: 10px;
  overflow: hidden;
  font-family: "Lora", sans-serif;
  text-align: justify;
  line-height: 22px;
}

.note-card h4 {
  color: white;
}

.card-footer {
  background-color: rgb(46, 45, 44);
  /* border: 1px solid red; */
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.card-footer a {
  color: white;
}

.card-footer a:hover {
  color: #cbf078;
}

.f-comp {
  color: rgb(212, 203, 203);
  font-family: "Lora", sans-serif;
}

/* 
.f-comp:hover {
  color: black;
  cursor: pointer;
} */

.card-footer-edit {
  background-color: rgba(245, 222, 179, 0.718);
  border-radius: 8px;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.card-footer-edit a {
  color: white;
}

@media screen and (max-width: 480px) {
  .note-card {
    width: 100%;
    margin: 0% 5%;
  }
}

/* Login Page */
.login-page {
  border: 1px solid red;
  /* background-color: #000000; */
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  /* background: rgba(0, 0, 0, 0.5); */
  box-sizing: border-box;
  box-shadow: 0px 0px 5px 5px rgba(93, 91, 91, 0.6);
  border-radius: 10px;
}

.login-page h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-form .user-box {
  position: relative;
}

.login-form .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

.Submit {
  background-color: #f9e8c9;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  padding: 9px 20px 8px;
  position: relative;
  text-align: center;
  width: 100%;
}

.login-form button:hover {
  background-color: #897556;
}

.footer {
  color: rgb(129, 125, 125);
  font-size: 16px;
  margin-top: 16px;
  text-align: center;
}

.footer span {
  color: #f9e8c9;
  cursor: pointer;
}

/* Register Page */
.register-page {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  /* background: rgba(0, 0, 0, 0.5); */
  box-sizing: border-box;
  box-shadow: 0px 0px 5px 5px rgba(93, 91, 91, 0.6);
  border-radius: 10px;
}
.register-page h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.register-form .user-box {
  position: relative;
}

.register-form .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}

/* overlay Card */

.overlay {
  /* transition: 10s ease; */
  background-color: #28221c;

  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.overlay-content {
  /* border: 1px solid wheat; */
  margin: 5% 5%;
  display: flex;
  padding: 1% 2%;
  height: calc(100% - 20%);
}

.note-header {
  /* border: 1px solid wheat; */

  border-radius: 16px;
  background-color: #f9e8c9;
  color: black;
  font-size: 24px;
  height: 60px;
}

.overlay-content h1 {
  /* border: 1px solid wheat; */
  font-family: "Fira-sans", sans-serif;
  font-size: 20px;
  padding: 20px;
  border-radius: 16px;
  text-align: center;
}

.overlay-content input {
  /* border: 1px solid wheat; */
  background-color: #f9e8c9;
  margin: 0%;
  width: 95%;
  height: 58px;
  padding: 0% 1%;
  border-radius: 15px;
  font-size: 24px;
  outline: none;
  border: none;
  text-align: center;
}

.overlay-content p {
  /* border: 1px solid wheat; */
  background-color: rgb(22, 21, 22);
  color: white;
  font-size: 16px;
  margin-top: 10px;
  padding: 10px 30px 10px 30px;
  border-radius: 16px;
  text-align: justify;
  height: 80%;
  font-family: "Poppins", sans-serif;
}

.overlay-content textarea {
  /* border: 1px solid wheat; */
  background-color: #232121;
  color: white;
  font-size: 16px;
  margin-top: 10px;
  border-radius: 16px;
  text-align: justify;
  height: 80%;
  width: 100%;
  /* padding: 10px 30px 10px 30px; */

  border: none;
  outline: none;
}

.overlay-content h3 {
  /* border: 1px solid wheat; */

  padding: 10px;
  color: black;
  text-align: center;
}

.left {
  /* border: 1px solid rebeccapurple; */
  width: calc(100% - 10%);
}

.right {
  /* border: 1px solid rebeccapurple; */
  width: 10%;
}

.right button {
  /* margin: 0px 50px; */
  border: none;
  margin-left: 25px;
  margin-top: 5px;
  background-color: #f5ddb0ac;
  color: white;
  border-radius: 16px;
  font-size: 24px;
  padding: 8px 16px;
  cursor: pointer;
  transform: 0.3;
  border-radius: 16px;
  height: 50px;
  width: 120px;
}

@media screen and (max-width: 480px) {
  .overlay-content {
    flex-direction: column;
    height: calc(100% - 10%);
  }
  .note-header {
    height: 40px;
  }
  .overlay-content h1 {
    padding: 10px;
    font-size: 18px;
  }
  .overlay-content p {
    height: 80%;
    padding: 5px 10px 5px 10px;
    font-size: 14px;
  }
  .left {
    width: 100%;
    height: 100%;
  }
  .right {
    display: flex;
    width: 100%;
    justify-content: space-around;
    height: calc(100% - 80%);
  }
  .right button {
    margin-left: 0;
  }
}

/* Edit Note */
