.how {
    width: 100%;
    background-color: #161720;
    
}

.howlabel{
    color: white;
    text-align: center;
}

.subContain p {
    text-align: center;
    font-size: 1.2rem;
    margin-left: 450px;
    margin-right: 500px;
    color: aliceblue;
}