.landpage {
  background-color: #000000;
  height: 100vh;
}

.addNote-btn {
  background-color: green;
  color: white;
  border: none;
  padding: 10px;
  font-size: 1.2rem;
  border-radius: 10px;
  border: 1px red solid;
}

.section1 {
  text-align: center;
  padding-bottom: 50px;
}

.head1 {
  padding-top: 8%;
  font-size: 3.75rem;
  color: white;
  text-align: center;
}
