nav {
  display: flex;
  justify-content: space-around;
  height: 80px;
  align-items: center;
}

nav .logo {
  font-size: 1.5rem;
}

nav ul {
  display: flex;
  justify-content: space-evenly;
}
nav ul li {
  list-style: none;
  margin: 0 10px; /* margin : right and and left*/
}

nav ul li:hover {
  cursor: pointer;
  color: rgb(120, 119, 119);
}


