.ListCard-div {
    margin: 2%;
    text-align: center;
}

.ListCard {
    display: flex;
    flex-flow: column;
}

.ListCard button {
    background-color: rgb(34, 31, 31);
    color: white;
    font-size: 1.5rem;
    padding: 5%;
    border: 1px rgb(87, 86, 86) solid;
    border-radius: 25px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 2% 10%;
}

.ListCard button:hover {
    cursor: pointer;
    background-color: rgb(255, 255, 255);
    color: black;
    border: 1px rgb(87, 86, 86) solid;
}